#blog-input {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    width: 30vw;
    text-align: center;
}

#blog-input>div {
    margin: 10px;
}

#blog-input > div > input {
    width: 45%;
    border:none;    
    line-height: 50px;
    font-size: 2.5em;
}

#blog-input > div > button {
    width: 70px;
    padding: 6px 5px;
    border-radius: 10px;
    color: navy;
}

@media (min-width: 768px) {
    #blog-input {
        width: 75%;
    }
}

input{
    margin-left: 55px;
}